target/
**/target/
.settings/
**/.settings/
.classpath
**/.classpath
.project
**/.project
.metadata/
**/.metadata/
*.log
logs/
temp/
work/
mail.properties
**/mail.properties
*.class
.DS_Store
Thumbs.db
.vscode/
**/.vscode/
